<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/tama.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="displayframe" style="display: none">
      <img id="layout_tama" src="layout1.png" alt="layout 2024" />
    </div>
  </body>
  <script>
    $(window).on("resize", function () {
      console.log("resizing");
    });
  </script>
</html>
